.classpath
.project
.settings
.gradle
bin
build
classes
tmp
Scratch*.java
.*.html
.DS_Store
.idea/
build.date
build.githash
src/main/resources/scratch/**/*
!src/main/resources/scratch/README.md
db_log.log
