.classpath
.project
.settings
.gradle
bin
build
classes
tmp
Scratch*.java
.*.html
.DS_Store
.idea/
build.date
build.githash
src/main/resources/scratchData/**/*
!src/main/resources/scratchData/README.md
db_log.log
FaultSystemRupSets
*.swp
