# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Run scheduled operational tests

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # 4 UTC = 9pm PDT = 8am PST
    # 16 UTC = 9am PDT = 8am PST
    - cron:  '43 4,16 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assemble
    - name: Run operational tests with Gradle
      run: ./gradlew testOperational
